<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
    <style>
      body {
        font-size: 17px;
      }
      .emailred {
        color: red;
        font-weight: bold;
      }
      .emailred input {
        border-color: red;
      }
    </style>
  </head>
  <body>
    <div class="wrapper">
      <h1>Promena podataka</h1>
      <form action="/auth-info-change" method="POST">
        <div class="<%=errors?'email emailred': 'email' %>">
          <label for="email">Email</label> <input name="email" type="email" />
        </div>
        <div class="<%=errors?'email emailred': 'email' %>">
          <label for="newemail">Novi Email (nije obavezno)</label>
          <input name="newemail" type="email" />
        </div>
        <div class="password">
          <label for="password">Stara Lozinka</label>
          <input name="password" type="password" />
        </div>
        <div class="password">
          <label for="newpassword">Nova Lozinka</label>
          <input name="newpassword" type="password" />
        </div>
        <div class="password">
          <label for="newpasswordconfirmation">Potvrdi Novu Lozinku</label>
          <input name="newpasswordconfirmation" type="password" />
        </div>

        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <button style="font-size: 18px" type="submit">Promeni podatke</button>
      </form>
      <div style="margin-block: 20px; font-size: 19px">
        <a href="/login">Prijavi se</a>
      </div>
      <!-- <div style="margin-block: 20px; font-size: 19px">
        Zaboravili ste lozinku?<a href="/reset"> Reset lozinke</a>
      </div> -->
    </div>
  </body>
</html>
