<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
    <style>
      body {
        font-size: 19px;
      }
      .emailred {
        color: red;
        font-weight: bold;
      }
      .emailred input{
        border-color: red;
      }
    </style>
  </head>

  <body>
    <a class="adminLink" href="admin-login">Admin</a>
    <div class="wrapper">
      <% if(!isAuthenticated) {%>
      <h1>Prijavite se</h1>
      <form action="/login" method="POST">
        <div class="<%=errors?'email emailred': 'email' %>"">
          <label for="email">Email</label> <input name="email" type="email" />
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input name="password" type="password" />
        </div>
        <button style="font-size: 18px;" type="submit">Prijavi se</button>

        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <div class="register">
          <a href="/auth-info-change">Promena podataka</a>
        </div>
        <!-- <div >
          Zaboravili ste lozinku?<a href="/reset"> Reset lozinke</a>
        </div> -->
      </form>
      <%} else {%>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
      <%}%>
    </div>
  </body>
</html>
