<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/css.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
      body {
        background-image: url("/css/wallpaperflare.com_wallpaper.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        font-family: "Roboto", sans-serif;
        align-items: center;
      }
      .wrapper {
        border-radius: 20px;
        text-align: center;
        width: 500px;
        background-color: rgb(18, 168, 33);
        box-shadow: 0 35px 35px rgba(0, 0, 0, 0.6);
      }
      .email,
      .password {
        display: flex;
        flex-direction: column;
        padding-block: 8px;
        align-items: center;
        column-gap: 3px;
        justify-content: center;
      }
      h1 {
        margin-bottom: 25px;
      }
      button {
        background-color: rgb(84, 187, 84);
        border: 1px solid green;
        width: 170px;
        margin-top: 15px;
        border-radius: 8px;
        padding-block: 5px;
        cursor: pointer;
      }
      label {
        padding-bottom: 8px;
      }
      .register {
        padding-top: 35px;
        padding-bottom: 8px;
      }
      .adminLink {
        position: absolute;
        top: 0;
        margin-right: 10px;
        margin-top: 10px;
        right: 0;
      }
      a {
        color: rgb(188, 241, 188);
      }
      input {
        border: none;
        border-bottom: 1px solid black;
        background: none;
        text-align: center;
      }
      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 1000px rgb(18, 168, 33) inset !important;
        -webkit-text-fill-color: black !important;
      }
    </style>
  </head>

  <body>
    <a class="adminLink" href="/admin-login">Admin</a>
    <div class="wrapper">
      <% if(!isAuthenticated) {%>
      <h1>Promena Lozinke</h1>
      <form action="/new-password" method="POST">
        <div class="password">
          <label for="password">Nova Lozinka</label>
          <input  required name="password" type="password" />
        </div>
        <div class="password">
          <label for="passwordConfirmed">Potvrdi Novu Lozinku</label>
          <input required name="passwordConfirmed" type="password" />
        </div>
        <button type="submit">Promeni Lozinku</button>

        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <input type="hidden" name="passwordToken" value="<%= passwordToken%>" />
        <input type="hidden" name="userID" value="<%= userID%>" />
        <div class="register">
          <a href="/login"> Prijavite se</a>
          <div>Zaboravili ste lozinku?<a href="/reset"> Reset lozinke</a></div>
        </div>
      </form>
      <%} else {%>
      <form action="/logout" method="POST">
        <button type="submit">Logout</button>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
      </form>
      <%}%>
    </div>
  </body>
</html>
