<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="wrapper">
      <% if(!isAuthenticated) {%>
      <h1>Admin Prijava</h1>
      <form action="/admin-login" method="POST">
        <div class="email">
          <label for="email">Email</label> <input name="email" type="email" />
        </div>
        <div class="password">
          <label for="password">Password</label>
          <input name="password" type="password" />
          <button type="submit" style="margin-top: 30px">Prijavi se</button>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
        <div class="register" style="padding-top: 25px">
          Niste admin? <a href="login">User Login</a>
        </div>
      </form>
      <%} %>
    </div>
  </body>
</html>
