body {
  background-color: lightgreen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
    border-radius: 20px;
  text-align: center;
  width: 400px;
  background-color: rgb(79, 193, 119);
}
.email,
.password {
  display: flex;
  flex-direction: column;
  padding-block: 8px;
  align-items: center;
  column-gap: 3px;
  justify-content: center;
}
label {
    padding-bottom:4px
}
input {
  border: none;
  border-bottom: 1px solid black;
  background: none;
  text-align: center;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(79, 193, 119) inset !important;
  -webkit-text-fill-color: black !important;
}
